@use "../../scss/" as *;

.movie-card {
    position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 160%;
    border-radius: $border-radius;
    margin-bottom: 1rem;
    transition: .4s;

    .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: $black;
        opacity: 0;
        transition: opacity 0.3s ease;
        border-radius: $border-radius;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover::before {
            opacity: 0.3;
        }

        &:hover .btn {
            transform: translate(-50%, -50%) scale(1);
        }
    }
}
.movie-card:hover {
    transform: scale(0.95);
}
@keyframes heartbeat {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.25);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  .heart {
    color: rgb(255, 255, 255);
    opacity: 0.3;
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  .heart:hover {
    animation: heartbeat 1s infinite;
    fill: red;
    color: red;
    opacity: 1;
    transition: opacity 500ms;
  }

  .heart1 {
    color: rgb(255, 0, 0);
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  .heart1:hover {
    // animation: heartbeat 1s infinite;
    fill: red;
    color: red;
    opacity: 1;
    transition: opacity 500ms;
  }
  
  .book {
    color: rgb(255, 255, 255);
    opacity: 0.3;
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  
  .book:hover {
    animation: heartbeat 1s infinite;
    fill: $main-color;
    color: $main-color;
    opacity: 1;
    transition: opacity 500ms;
  }

  .book1 {
    color: $main-color;
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  
  .book1:hover {
    // animation: heartbeat 1s infinite;
    fill: $main-color;
    color: $main-color;
    opacity: 1;
    transition: opacity 500ms;
  }